<div>
  <div class="grid grid-cols-4 gap-5 max-w-[320px] md:max-w-[420px] mb-5">
    <div *ngFor="let style of availableStyles" [style.background-color]="style.background" (click)="setSelectStyle(style)" class="cursor-pointer flex relative w-[67px] h-[41px] md:w-[87px] md:h-[61px] border-[4px] border-white rounded-[12px]">
        <span class="text-[20px] m-auto" [style.color]="style.color">A</span>
        <span *ngIf="style.selected" class="absolute right-0 top-0 w-[24px] h-[16px] rounded-tl-[0] rounded-br-[0] rounded-[6px] text-center bg-white material-icons text-[12px] text-black font-bold">check</span>
    </div>
  </div>
  <form>
    <p class="text-black text-[20px] mb-[7px]">Text Color</p>
    <div class="max-w-[480px] h-auto bg-white rounded-[12px] p-4 flex mb-5">
      <label for="text-color" class="text-black my-auto">{{textColor}}</label>
      <input [(ngModel)]="textColor" (change)="changeColor()" name="textColor" id="text-color" type="color" class="ms-auto" />
    </div>
    <p class="text-black text-[20px] mb-[7px]">Background Color</p>
    <div class="max-w-[480px] h-auto bg-white rounded-[12px] p-4 flex mb-5">
      <label for="background-color" class="text-black my-auto">{{ backgroundColor }}</label>
      <input [(ngModel)]="backgroundColor" (change)="changeColor()" name="backgroundColor" id="background-color" type="color" class="ms-auto" />
    </div>
    <p class="text-black text-[20px] mb-[7px]">Choose Color</p>
    <div class="max-w-[480px] h-[57px] bg-white rounded-[12px] p-4 flex mb-5">
      <select [(ngModel)]="font" (change)="changeFont(font)" name="font" id="font" class="text-black w-full">
        <option value="roboto">Roboto</option>
        <option value="inter">Inter</option>
        <option value="Dancing Script">Dancing Script</option>
        <option value="Salsa">Salsa</option>
        <option value="genos">Genos</option>
      </select>
    </div>
    <div class="text-black flex gap-5 justify-between max-w-[480px] px-10">
      <div class="flex gap-5">
        <label for="post">Post</label><br>
        <input (change)="changePostType(1)" class="w-[24px] h-[24px]" name="group" type="radio" id="post" value="Post">
      </div>
      <div class="flex gap-5">
        <label for="story">Story</label><br>
        <input (change)="changePostType(0)" checked class="w-[24px] h-[24px]" name="group" type="radio" id="story" value="Story">
      </div>
    </div>
  </form>
  <a href="https://www.buymeacoffee.com/nebojsagrur" target="_blank">
    <img class="w-[243px] h-[60px] my-5" src="assets/images/buy-coffee.png" alt="buy-me-a-coffee">
  </a>
</div>
