<main class="font-roboto px-[120px] py-[50px] bg-[#54E674] w-screen h-screen text-white">
  <div class="flex justify-between gap-4">
    <div class="mt-[70px]">
      <h1 id="site-title" class="text-[116px] leading-[112px] font-bold max-w-[768px] mb-4">Custom year wrapper</h1>
      <h2 id="site-slogan" class="text-[32px] font-light max-w-[398px] mb-4">All your achievements in one place.</h2>
      <app-control-panel></app-control-panel>
    </div>
    <app-wrapper></app-wrapper>
  </div>
</main>


<router-outlet></router-outlet>
